@import "tailwindcss";

:root {
  --background: #fff7e1;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-bricolage);
  --font-mono: var(--font-geist-mono);
}

@keyframes fade-in-blur {
  from {
    opacity: 0;
    filter: blur(4px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

/* Three-dot rotating loader from css-loaders.com */
@layer base {
  .loader {
    width: 20px;
    aspect-ratio: 1;
    --_g: no-repeat radial-gradient(circle closest-side,#017b80 90%,#0000);
    background: 
      var(--_g) 0    0,
      var(--_g) 0    100%,
      var(--_g) 100% 100%;
    background-size: 40% 40%;
    animation:l11 1s infinite linear;
  }
  @keyframes l11 {
      25% {background-position:100% 0   ,0 100%,100% 100%}
      50% {background-position:100% 0   ,0 0   ,100% 100%}
      75% {background-position:100% 0   ,0 0   ,0    100%}
      100%{background-position:100% 100%,0 0   ,0    100%}
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-bricolage), Arial, Helvetica, sans-serif;
}
